* {
    box-sizing: border-box;
 
}

/*Top Header*/

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container {
    background-color: #1f2937;
    color: #f9faf8;
    position: relative;
    padding: 35px;
}

.head {
    cursor: pointer;
    margin-left: 30px;
}



.nav {
    align-items: center;
    margin-right: 30px;
}

.nav li {
    display: inline-block;
    padding: 0px 20px;
}

.nav li a {
    transition: all 0.3s ease 0s;
}

ul {
    list-style-type: none;
    display: flex;
    color: #f9faf8;
    text-decoration: none;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: #f9faf8;
    
}

/*First layer*/

