* {
    box-sizing: border-box;
 
}

/*Top Header*/

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 10%;
}

.container {
    background-color: #1f2937;
    color: #f9faf8;
    position: relative;
   
}

.head {
    cursor: pointer;
    
}



.nav {
    align-items: center;
    margin-right: auto;
}

.nav li {
    display: inline-block;
    padding: 0px 20px;
}

.nav li a {
    transition: all 0.3s ease 0s;
}

ul {
    list-style-type: none;
    display: flex;
    color: #f9faf8;
    text-decoration: none;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: #f9faf8;
    
}

/*First layer*/

.first-layer {
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10%
}

.right-content {
    display: block;
    
}

/*Second layer*/

.second-layer-title {
    text-align: center;
    padding: 20px;
}

.content-box {
    display: flex;
    justify-content: space-around;
}



.box {
    background-color: #3882f6;
    border-radius: 35px;
    margin: 10px;
    align-items: center;
    text-align: center;
}

